.homepage {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90vw;
}
